.lefside_container {
  margin-left: 300px;
  margin-top: 30px;
  width: 40%;

  textarea {
    width: 300px;
    height: 38px;
    text-align: center;
    border-color: white;
    background: #fff;
    padding-top: 30px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  }

  #fulltime_span {
    color: #334680;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  #location_text {
    color: #b9bdcf;
    font-family: Poppins;
    color: #b9bdcf;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  ::placeholder {
    color: #b9bdcf;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }

  #countrys_imput {
    color: #334680;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    line-height: 31px;
  }
}
